@theme {
  --text-h1: 28px;
  --text-h1--font-weight: 500;

  --text-h2: 24px;
  --text-h2--font-weight: 500;

  --text-h3: 20px;
  --text-h3--font-weight: 700;

  --text-h4: 18px;
  --text-h4--font-weight: 500;

  --text-accent: 18px;
  --text-accent--font-weight: 600;

  --text-body: 16px;
  --text-body--font-weight: 500;

  --text-caption1: 14px;
  --text-caption1--font-weight: 500;

  --text-caption2: 14px;
  --text-caption2--font-weight: 400;
}