@theme {
  --text-h1: 36px;
  --text-h1--font-weight: 500;

  --text-h2: 24px;
  --text-h2--font-weight: 500;

  --text-h3: 20px;
  --text-h3--font-weight: 700;

  --text-h4: 16px;
  --text-h4--font-weight: 500;

  --text-accent: 16px;
  --text-accent--font-weight: 600;

  --text-body: 14px;
  --text-body--font-weight: 400;

  --text-caption1: 12px;
  --text-caption1--font-weight: 500;

  --text-caption2: 12px;
  --text-caption2--font-weight: 400;
}